---
layout: default
---
<div class="page">

  <header class="page-header">
    <div class="page-content">
      <div class="wrapper">
        <h1 class="page-title">Illumineto Developer Blog</h1>
      </div>
    </div>
  </header>

  {% include breadcrumb.html %}

  <div class="page-content">
    <div class="wrapper">
      <h2 class="page-heading">Latest Posts</h2>
      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
  </div>

</div>
