---
layout: default
---
<div class="post">

  <header class="post-header">
    <div class="page-content">
      <div class="wrapper">
        <h1 class="page-title">Developers Blog</h1>
      </div>
    </div>
  </header>
  
  {% include breadcrumb.html %}

  <div class="page-content">
    <div class="wrapper">
      <article class="page-content">
        <h2 class="post-title">{{ page.title }}</h2>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        {{ content }}
      </article>
    </div>
  </div>

</div>
